html{
    font-size: 15px;
}
body{
    background-color: #f0f2f5;
}
#bodyheading{
    color: #0866ff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    height: 75px;
}
#subheading{
    height: 100px;
    width: 500px;
    text-align: center;
    margin: auto;
    line-height: 10px;
    padding-top: 5px;
}
#form1{
    height: 600px;
    width: 500px;
    margin-left: 500px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: white;
    text-align: justify;

}
input[name="Email"]{
    width: 450px;
    height: 32px;
    margin-left: 20px;
}
input[name="Password"]{
    width: 450px;
    height: 32px;
    margin-left: 20px;
}
input[name="FirstName"]{
    height: 30px;
    width: 210px;
    margin-left: 20px;
}
input[name="LastName"]{
    height: 30px;
    width: 210px;
    margin-left: 20px;
}
input[name="DateOfBirth"]{
    margin-left: 20px;
}
input[name="Gender"]{
    margin-left: 100px;
}
#info1, #info2{
    text-align: left;
}
input[name="submit"]{
    margin-left: 190px;
    color: white;
    background-color:#00a400;
    width: 130px;
    height: 40px;
}
#signupform{
    height: 400px;
}
#info1, #info2{
    margin-left: 10px;
    margin-right: 10px;
}