*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
 }
 #bodyheading{
    display: flex;
    justify-content: center;
    margin: 25px auto;
    color: #0866ff;
 }
 #fbheading{
    font-size: 56px;
 }
 #main-div{
    width: 450px;
    height: 580px;
    /* border: 2px solid black; */
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 0 0 3px;
    background-color: #fff;
 }
 #create-account{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 10px 10px 0;
    row-gap: 5px;
 }
 .form-elements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 15px 15px 0;
    margin-bottom: 15px;
 }
 .namebox{
    height: 36px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 0 20px;
 }
 #dateofbirth{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    padding: 0 15px;
    column-gap: 10px;
    margin-bottom: 12px;
 }
 .dob{
    grid-column: 1/-1;
    font-size: 13px;
    margin-bottom: 5px;
 }
 .datebox{
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 36px;
    padding-left: 5px;
    font-size: 14px;
 }
 #gender{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    padding: 0 15px;
    column-gap: 10px;
 }
 .gend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    height: 36px;
    justify-items: center;
    border-radius: 5px;
 }
 .radio, .radioselection{
    margin-left: 12px;
    margin-right: 10px;
 }
 #email-address{
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    padding: 15px 15px 0;
    row-gap: 10px;
 }
 .email{
    height: 36px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 15px;
 }
 #information-div{
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px 15px 0;
    row-gap: 10px;
 }
 .para{
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
    font-size: 11px;
    color: grey;
    letter-spacing: 0.5px;
 }
 #signup-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }
 .button{
    width: 194px;
    height: 40px;
    border-radius: 5px;
    background-color: #00a400;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 600;
 }
 .already a{
    text-decoration: none;
    font-size: 18px;
    color: #1877f2;
 }